html, body, div, h1, p, a, ol, ul, li
{
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
:focus
{
	outline: 0;
}
body
{
	background: #eee;
	color: black;
	font: normal 14px/1 serif;
}
h1
{
	font: bold 18px/1 serif;
	text-align: center;
}
p, li
{
	margin: 0 0 13px 13px;
}
ul
{
	margin-top: 36px;
}
li
{
	list-style-position: inside;
	margin-left: 20px;
}
#main
{
	background: #fff;
	box-shadow: 0 0 3px #989898;
	filter: progid:DXImageTransform.Microsoft.dropshadow(offX=3, offY=3, color=#989898);
	height: 752px;
	margin: 4px auto 0;
	moz-box-shadow: 0 0 3px #989898;
	webkit-box-shadow: 0 0 3px #989898;
	width: 512px;
}
.blok
{
	border-bottom: 1px solid #ccc;
	margin: 0 50px;
	padding-top: 29px;
}
.noborder
{
	border-bottom: none;
}
.img
{
	margin: 15px;
	text-align: center;
}
.fb
{
	padding-top: 38px;
}